body {
    font-family: Arial, sans-serif;
    background-color:#23395d;
    padding:0;
    margin:0;
}
.page1{
    width:100%;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:0;
    padding:5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}

.logo {
    width: 50px;
    height: auto;
    margin-top: 0;
}

.logo img {
    width: 100%;
    height: auto;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    
}

.nav-links li a {
    color:#EFF396;
    text-decoration: none;
    padding: 8px 16px;
    font-weight: bold;
}

.nav-links li a:hover {
    color:black;
    background-color: whitesmoke;

}

.nav-title {
    color:#EFF396;
    font-size: 30px;
    margin-top: 0;
    font-family: Satisfy;
    padding-top: 20px;
    margin-left:50px;
    text-shadow: 0 0 10px red;
}

.intro {
    padding: 50px;
    color: #EFF396;
    font-size: 25px;
    font-family: Merriweather;
    animation: fade-in 2s;
  }

  .animated-text {
    color: wheat; /* Text color (white) */
    text-shadow: 0 0 30px red; /* Initial glow */
    animation: glowing 1.5s ease-in-out infinite alternate; /* Animation properties */
  }
  
  @keyframes glowing {
    0% {
      text-shadow: 0 0 30px red; /* Start with a subtle glow */
    }
    100% {
      text-shadow: 0 0 30px red; /* Peak of the glow */
    }
  }
  
  
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .container {
    margin: 0 auto;
    width: 500px;
    height:300px;
    padding: 50px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    animation: fade-in 2s;
    transition: transform 0.3s ease, box-shadow 0.3s ease ;
}
@keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
.container:hover {
    transform: translateY(-2px);
    box-shadow: 8px 4px 8px 4px  #EFF396;
}
.container {
    max-width: 700px;
    height:600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
  }
  
  .title {
    text-align: center;
    margin-bottom: 20px;
    color: #110f0f;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #555;
  }
  
  input[type="text"],
  input[type="email"] {
    width: 90%;;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .button {
    display: block;
    width: 50%;
    align-items: center;
    justify-content: left;
    padding: 10px;
    margin-left:120px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color:black;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease; /* Transition for scaling */
  }
  
  .button:hover {
    transform: scale(1.1); /* Scale up by 10% on hover */
  }
  
  
  .note {
    font-size: 14px;
    color: #888;
    text-align: center;
  }
  
  /* Animation */
  .animated-text {
    animation: glowing 1.5s ease-in-out infinite alternate;
  }
  
  @keyframes glowing {
    0% {
      text-shadow: 0 0 10px red; /* Start with a subtle glow */
    }
    100% {
      text-shadow: 0 0 20px red; /* Peak of the glow */
    }
  }

.page2{
    padding:50px;
}
#features-section {
    opacity: 0;
    transition: opacity 2s ease;
  }
  
  #features-section.visible {
    opacity: 1;
    animation: fade-in 2s;

  }

  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
.features h1{
    font-size:40px;
    display:flex;
    justify-content: center;
    padding-top: 60px;
    font-family: Merriweather;
    color:#EFF396;
    text-shadow: 0 0 10px red;

}
.cards {
    display: flex;
    justify-content: center;
   
   
}

.card {
    width: 300px;
    height:200px;
    padding: 0.5rem;
    
    background-color: #EFF396;
    border-radius: 4px;
    overflow: hidden;
    transition: transform 0.5s ease;
    margin:40px;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0px 8px 8px white;
}

.card-title {
    font-size: 1.2rem;
    font-family: 'Belleza';
    font-weight: bold;
    margin-bottom: 0.5rem;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}

.card-description {
    font-size: 1rem;
    padding: 1rem;
    font-family: 'Belleza';
    font-size: 18px;
    
    
}


.overview {
    /* background-color: #fff; */
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    animation: slideIn 1s forwards;
    max-width: 100%;
    margin-bottom: 70px;
    /* height:500px;  */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.domain-card {
    background-color:#EFF396;
    border-radius: 10px;
    padding: 17px;
    
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    margin: 10px;
    width: calc(33.333% - 20px); /* Adjust width as needed */
    box-sizing: border-box;
     /* Creates a subtle outer shadow */
    transition: transform 0.7s ease-in-out; /* Animation properties */
}

.domain-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 10px rgb(255, 255, 255); /* Move the card up 5px on hover */
}


.overview h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}
.overview p {
    margin: 10px 0;
    color: #555;
}
.overview ul {
    margin-left: 20px;
}
.overview ul li {
    list-style-type: disc;
    margin-bottom: 5px;
}

footer {
    background-color: #333;
    color: #EFF396;
   
    padding:50px 0px;
    margin-top:40px;
    height:200px;
   
}


.footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    padding-left:100px;
    padding-right:100px;
    
}

.contact-info, .social-media {
    flex: 1;
   
}

.contact-info h3, .social-media h3 {
    margin-bottom: 30px;
}
.social-media h3 {
    margin-left:150px;
    justify-content: center;
}
.social-media a {
    margin-right: 10px;
    font-size: 2rem;
    color: #fff;
    transition: all 0.3s ease;
    padding:30px;
}


.facebook:hover {
    color: #ccc;
    text-shadow: 0 0 10px rgb(26, 211, 228), 0 0 20px rgb(26, 211, 228), 0 0 30px rgb(26, 211, 228) , 0 0 40px rgb(26, 211, 228);
}
.instagram:hover{
    color: #ccc;
    text-shadow: 0 0 10px rgb(223, 11, 181), 0 0 20px rgb(225, 18, 62), 0 0 30px rgb(247, 247, 248) , 0 0 40px rgb(222, 12, 215);
    

}
.twitter:hover{
    color: #ccc;
    text-shadow: 0 0 10px  #1DA1F2, 0 0 20px  #1DA1F2, 0 0 30px  #1DA1F2 , 0 0 40px  #1DA1F2;
    

}
.linkedin:hover{
    color: #ccc;
    text-shadow: 0 0 10px  #0A66C2, 0 0 20px  #0A66C2, 0 0 30px #0A66C2 , 0 0 40px  #0A66C2;
    

}

 
.footer-bottom {
    background-color: #222;
    text-align: center;
    padding:20px 0;
    
   
   
}

.footer-bottom p {
    
    font-size: 0.9rem;
    
}